.header {
  position: relative;
  margin-bottom: 63px;
  border-bottom: 1px solid #b2b2b2;

  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 12px;
  }

  // .header__menu

  &__menu {
    &-nav {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 110px;
      padding-right: 45px;
      height: 100vh;
      font-size: 30px;
      line-height: 35px;
      background-color: var(--color-main);
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);

      @include tablet {
        padding-top: 90px;
        font-size: 25px;
        line-height: 28px;
      }

      @include xl-mobile {
        padding-top: 80px;
        font-size: 20px;
        line-height: 23px;
      }

      @include m-mobile {
        padding-top: 70px;
        font-size: 16px;
        line-height: 18px;
      }
    }

    &-social-icon {
      margin-right: 20px;

      svg {
        width: 40px;
        height: 40px;
        fill: var(--color-background);

        @include xl-mobile {
          width: 30px;
          height: 30px;
        }
      }
    }

    &-list {
      margin-bottom: 60px;

      @include xl-mobile {
        margin-bottom: 30px;
      }
    }

    &-item {
      margin-bottom: 15px;
    }

    &-link {
      position: relative;
      color: var(--color-background);

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: width var(--hover-time) ease-in-out;
      }

      &:hover {
        &::before {
          width: 100%;
        }
      }
    }

    &-phone {
      margin-bottom: 25px;
      color: var(--color-background);
    }
  }

  &__menu-button {
    --decoration-width: 77px;
    --color: var(--color-text);

    position: relative;
    z-index: 5;
    padding-left: calc(var(--decoration-width) + 9px);
    font: var(--font-text);
    text-transform: uppercase;
    color: var(--color);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: var(--decoration-width);
      height: 2px;
      background-color: currentColor;
      transform: translateY(-50%);
    }

    @include small-tablet {
      --decoration-width: 45px;

      font-size: 25px;
    }

    @include m-mobile {
      font-size: 20px;
    }
  }

  // .header__phone

  &__phone {
    font: var(--font-text);
    text-decoration: none;
    color: var(--color-text);

    @include small-tablet {
      font-size: 23px;
    }

    @include xl-mobile {
      display: none;
    }
  }

  @include tablet {
    margin-bottom: 50px;
  }

  @include small-tablet {
    margin-bottom: 25px;
  }
}

.scrollRight {
  opacity: 1;
  visibility: visible;
  animation: scroll-right 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.scrollLeft {
  animation: scroll-left 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-left {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
  }
}
