.logo {
  width: 315px;
  height: 80px;
  object-fit: contain;

  @include small-tablet {
    width: 265px;
    height: 70px;
  }

  @include ex-small-tablet {
    width: 200px;
    height: 50px;
  }

  @include m-mobile {
    width: 150px;
    height: 40px;
  }
}
