<section class="about section-margin">
  <div class="about__container container-fluid">
    <h2 class="about__title section-title">О нашей компании</h2>
    <div class="about__content">
      <div class="about__image-grid" id="aboutGrid">
        <div class="about__grid-item">
          <picture>
            <source srcset="img/about-1.avif" type="image/avif">
            <source srcset="img/about-1.webp" type="image/webp">
            <img loading="lazy" src="img/about-1.jpg" class="about__grid-image" width="440" height="355" aria-hidden="true">
          </picture>
        </div>
        <div class="about__grid-item">
          <picture>
            <source srcset="img/about-2.avif" type="image/avif">
            <source srcset="img/about-2.webp" type="image/webp">
            <img loading="lazy" src="img/about-2.jpg" class="about__grid-image" width="260" height="515" aria-hidden="true">
          </picture>
        </div>
        <div class="about__grid-item">
          <picture>
            <source srcset="img/about-3.avif" type="image/avif">
            <source srcset="img/about-3.webp" type="image/webp">
            <img loading="lazy" src="img/about-3.jpg" class="about__grid-image" width="440" height="480" aria-hidden="true">
          </picture>
        </div>
        <div class="about__grid-item">
          <picture>
            <source srcset="img/about-4.avif" type="image/avif">
            <source srcset="img/about-4.webp" type="image/webp">
            <img loading="lazy" src="img/about-4.jpg" class="about__grid-image" width="260" height="345" aria-hidden="true">
          </picture>
        </div>
      </div>
      <div class="about__description">
        <div class="about__text">В <span>SHTONDA</span> мы гордимся нашими ценностями:
          <br>
          сервисом, индивидуальностью, сроками изготовления, качеством</div>
        <div class="about__items">
          <div class="about__item">
            <span class="about__item-number">1.</span>
            <h3 class="about__item-title">Кто мы</h3>
            <p class="about__item-text">Мы мебельная компания в Санкт-Петербурге. Уже более 10 лет помогаем нашим клиентам</p>
          </div>
          <div class="about__item">
            <span class="about__item-number">2.</span>
            <h3 class="about__item-title">Что мы делаем</h3>
            <p class="about__item-text">Мы изготавливаем мебель для разных сфер деятельности</p>
          </div>
          <div class="about__item">
            <span class="about__item-number">3.</span>
            <h3 class="about__item-title">Следим за трендами</h3>
            <p class="about__item-text">Мы следим за трендами и предлагаем вам самые современные решения</p>
          </div>
          <div class="about__item">
            <span class="about__item-number">4.</span>
            <h3 class="about__item-title">Что мы используем</h3>
            <p class="about__item-text">Мы используем материалы экологичные и высшего качества</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
