<section class="catalog section-margin">
  <div class="container-fluid catalog__container">
    <h2 class="section-title catalog__title">Каталог</h2>
    <div class="catalog__slider-container">
      <div class="catalog__slider-button catalog__slider-button--prev"></div>
      <div class="swiper catalog__slider">
        <div class="swiper-wrapper catalog__slider-wrapper">
           <div class="swiper-slide catalog__slider-item catalog-card">
             <div class="catalog-card__number">01</div>
             <img class="catalog-card__image" src="img/catalog-1.jpg" alt="Catalog image" width="585" height="360">
             <h3 class="catalog-card__title">Офисная мебель</h3>
             <a class="catalog-card__button btn-resrt button button-text" href="#">Смотреть каталог</a>
           </div>
           <div class="swiper-slide catalog__slider-item catalog-card">
             <div class="catalog-card__number">02</div>
             <img class="catalog-card__image" src="img/catalog-1.jpg" alt="Catalog image" width="585" height="360">
             <h3 class="catalog-card__title">Офисная мебель</h3>
             <a class="catalog-card__button btn-resrt button button-text" href="#">Смотреть каталог</a>
           </div>
           <div class="swiper-slide catalog__slider-item catalog-card">
             <div class="catalog-card__number">03</div>
             <img class="catalog-card__image" src="img/catalog-1.jpg" alt="Catalog image" width="585" height="360">
             <h3 class="catalog-card__title">Офисная мебель</h3>
             <a class="catalog-card__button btn-resrt button button-text" href="#">Смотреть каталог</a>
           </div>
           <div class="swiper-slide catalog__slider-item catalog-card">
             <div class="catalog-card__number">04</div>
             <img class="catalog-card__image" src="img/catalog-1.jpg" alt="Catalog image" width="585" height="360">
             <h3 class="catalog-card__title">Офисная мебель</h3>
             <a class="catalog-card__button btn-resrt button button-text" href="#">Смотреть каталог</a>
           </div>
        </div>
      </div>
      <div class="catalog__slider-button catalog__slider-button--next"></div>
    </div>
  </div>
</section>
