<footer class="footer">
  <div class="footer__container container">
    <div class="footer__terms">
      <div class="footer__reserve">2021 Все права защищены</div>
      <a class="footer__privacy" href="" target="_blank">Политика Конфиденциальности</a>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav-list list-reset">
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Торговый островок</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Мебель для аптек</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Мебель для магазинов</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Мебель для салонов красоты</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Мебель для музеев</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Мебель для магазинов косметики</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Офисная мебель</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Мебель для школ</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#">Мебель для детских садов</a></li>
      </ul>
      <div class="footer__nav-social">
        <a class="footer__nav-social-icon" href="" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#viber-icon">
          </svg>
        </a>
        <a class="footer__nav-social-icon" href="" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#whatsapp-icon">
          </svg>
        </a>
        <a class="footer__nav-social-icon" href="" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#telegram-icon">
          </svg>
        </a>
        <a class="footer__nav-social-icon" href="" target="_blank">
          <svg>
            <use xlink:href="img/sprite.svg#instagram-icon">
          </svg>
        </a>
      </div>
    </nav>
    <div class="footer__contacts">
      <div class="footer__contacts-item">
        <div class="footer__contacts-head">Адрес</div>
        <div class="footer__contacts-text">Санкт-Петербург, Цветочная улица, 2</div>
      </div>
      <div class="footer__contacts-item">
        <div class="footer__contacts-head">Телефон</div>
        <a href="tel:+7 (812) 929-20-54" class="footer__contacts-text">+7 (812) 929-20-54</a>
      </div>
      <div class="footer__contacts-item">
        <div class="footer__contacts-head">Email</div>
        <a href="mailto:info@shtonda.store" class="footer__contacts-text">info@shtonda.store</a>
      </div>
      <div class="footer__contacts-item">
        <div class="footer__contacts-head">График работы</div>
        <div class="footer__contacts-text">Пн-Пт с 9:00 до 18:00</div>
      </div>
    </div>
    <div class="authors">
      <div class="authors__item"><a class="authors__link" href="https://vk.com/alenaf_ox" target="_blank">Дизайн: Алена Ярышева</a></div>
      <div class="authors__item"><a class="authors__link" href="https://www.instagram.com/tim_krivenkov/" target="_blank">Сайт разработал: Тимофей Кривеньков</a></div>
    </div>
  </div>
</footer>
