<section class="callback section-margin">
  <div class="container-fluid callback__container">
    <div class="container">
      <form class="callback__form form">
        <input type="hidden" name="formPageName">
        <h2 class="section-title form__title">Свяжитесь с нами</h2>
        <div class="form__subtitle">Акция! При заказе мебели этой зимой — <span>скидка 10%</span></div>
        <!-- <input type="text" name="client-name"> -->
        <input class="form__input input-reset" type="tel" name="client-phone" placeholder="Телефон">
        <input class="form__input input-reset" type="email" name="client-email" placeholder="E-mail">
        <button class="form__button btn-reset button button--main">Оставить заявку</button>
        <p class="form__privacy">Оставляя заявку, Вы соглашаетесь с <a href="#">Политикой Конфиденциальности</a></p>
      </form>
    </div>
  </div>
</section>
