<header class="header">
  <div class="header__container container">
    <div class="header__menu">
      <button class="header__menu-button btn-reset" aria-label="Меню">Меню</button>
      <nav class="header__menu-nav">
        <ul class="header__menu-list list-reset">
          <li class="header__menu-item"><a class="header__menu-link" href="#">Торговый островок</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Мебель для аптек</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Мебель для магазинов</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Мебель для салонов красоты</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Мебель для музеев</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Мебель для магазинов косметики</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Офисная мебель</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Мебель для школ</a></li>
          <li class="header__menu-item"><a class="header__menu-link" href="#">Мебель для детских садов</a></li>
        </ul>
        <a class="header__menu-phone" href="tel:+7(812)929-20-53">+7(812)929-20-53</a>
        <div class="header__menu-social">
          <a class="header__menu-social-icon" href="" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#viber-icon">
            </svg>
          </a>
          <a class="header__menu-social-icon" href="" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp-icon">
            </svg>
          </a>
          <a class="header__menu-social-icon" href="" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#telegram-icon">
            </svg>
          </a>
          <a class="header__menu-social-icon" href="" target="_blank">
            <svg>
              <use xlink:href="img/sprite.svg#instagram-icon">
            </svg>
          </a>
        </div>
      </nav>
    </div>
    <img class="header__logo logo" src="img/logo.png" alt="Shtonda logo">
    <a class="header__phone" href="tel:+7(812)929-20-53">+7 (812) 929-20-53</a>
  </div>
</header>
