<section class="hero section-margin">
  <div class="container-fluid hero__container">
    <div class="swiper hero__slider">
      <div class="hero__card">
        <h1 class="hero__title">Мы поможем вам создать современный интерьер!</h1>
        <div class="hero__subtitle">Торговая мебель, мебель для выставок и музеев от производителя со сроком изготовления до 10 дней.</div>
        <button class="hero__button btn-reset button button--main">Смотреть каталог</button>
      </div>
      <div class="swiper-wrapper hero__slider-wrapper">
         <div class="swiper-slide hero__slide">
           <picture>
             <source srcset="img/hero__slider-1.avif" type="image/avif">
             <source srcset="img/hero__slider-1.webp" type="image/webp">
             <img loading="lazy" src="img/hero__slider-1.jpg" class="hero__slider-image" alt="Hero slider image">
           </picture>
         </div>
         <div class="swiper-slide hero__slide">
           <picture>
             <source srcset="img/hero__slider-2.avif" type="image/avif">
             <source srcset="img/hero__slider-2.webp" type="image/webp">
             <img loading="lazy" src="img/hero__slider-2.jpg" class="hero__slider-image" alt="Hero slider image">
           </picture>
         </div>
         <div class="swiper-slide hero__slide">
          <picture>
            <source srcset="img/hero__slider-3.avif" type="image/avif">
            <source srcset="img/hero__slider-3.webp" type="image/webp">
            <img loading="lazy" src="img/hero__slider-3.jpg" class="hero__slider-image" alt="Hero slider image">
          </picture>
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source srcset="img/hero__slider-4.avif" type="image/avif">
            <source srcset="img/hero__slider-4.webp" type="image/webp">
            <img loading="lazy" src="img/hero__slider-4.jpg" class="hero__slider-image" alt="Hero slider image">
          </picture>
        </div>
      </div>
      <div class="hero__slider-controls">
        <div class="hero__slider-nav hero__slider-nav--next">
          <svg class="hero__slider-arrow">
            <use xlink:href="img/sprite.svg#hero__slider-arrow">
          </svg>
        </div>
        <div class="hero__slider-nav hero__slider-nav--prev">
          <svg class="hero__slider-arrow">
            <use xlink:href="img/sprite.svg#hero__slider-arrow"></use>
          </svg>
        </div>
        <div class="hero__slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
