<section class="offer section-margin">
  <div class="container-fluid offer__container">
    <div class="offer__description">
      <div class="offer__description-wrapper">
        <div class="offer__title">Скидка <span>10%</span></div>
        <p class="offer__text">на предзаказ любого изделия <span>до февраля</span></p>
        <div class="offer__link button-arrow button-arrow--underline">
          <a href="#">оставить заявку</a>
        </div>
      </div>
    </div>
    <div class="offer__image-wrapper">
      <picture>
        <source srcset="img/offer-image.avif" type="image/avif">
        <source srcset="img/offer-image.webp" type="image/webp">
        <img loading="lazy" src="img/offer-image.jpg" class="offer__image" width="970" height="675" aria-hidden="true">
      </picture>
    </div>
  </div>
</section>
