<section class="orders">
  <div class="container orders__container">
    <h2 class="section-title orders__title">Более <span>1000</span> заказов</h2>
    <div class="swiper orders__slider">
      <div class="swiper-wrapper orders__slider-wrapper">
         <div class="swiper-slide orders__slide order-card">
           <div class="order-card__title">2 года</div>
           <p class="order-card__text">гарантия на нашу мебель</p>
         </div>
         <div class="swiper-slide orders__slide order-card">
           <div class="order-card__title">Cобственный цех</div>
           <p class="order-card__text">без переплат посредникам</p>
         </div>
         <div class="swiper-slide orders__slide order-card">
           <div class="order-card__title">80% клиентов</div>
           <p class="order-card__text">приходят по рекомендациям</p>
         </div>
         <div class="swiper-slide orders__slide order-card">
           <div class="order-card__title">Дизайнерский подход</div>
           <p class="order-card__text">грамотный технолог в нашей команде</p>
         </div>
      </div>
    </div>
  </div>
</section>
