<section class="works section-margin">
  <div class="container-fluid works__container">
    <h2 class="section-title works__title">Выполненные работы</h2>
    <div class="works__wrapper">
      <div class="works__item works__item--first">
        <picture>
          <source srcset="img/works-1.avif" type="image/avif">
          <source srcset="img/works-1.webp" type="image/webp">
          <img loading="lazy" src="img/works-1.jpg" class="works__item-image" alt="Works image">
        </picture>
        <div class="works__item-description">
          <div class="works__item-title">Мебель в стиле LOFT</div>
          <p class="works__item-text">В едином стиле, настоящий дуб и натуральная краска для магазина косметики</p>
          <div class="works__item-time">Срок изготовления: 12 дней</div>
        </div>
      </div>
      <div class="works__item works__item--second">
        <div class="works__item-link button-arrow">
          <a href="#">галерея</a>
        </div>
        <picture>
          <source srcset="img/works-2.avif" type="image/avif">
          <source srcset="img/works-2.webp" type="image/webp">
          <img loading="lazy" src="img/works-2.jpg" class="works__item-image" alt="Works image">
        </picture>
        <div class="works__item-description">
          <div class="works__item-title">Красивые витрины для магазина с украшением</div>
          <p class="works__item-text">Красивые витрины с элементами стекла и зеркал</p>
          <div class="works__item-time">Срок изготовления: 15 дней</div>
        </div>
      </div>
    </div>
  </div>
</section>
